	private ${type} ${safeName};

	public final ${type} get${name:firstUc}()
	{
		return this.${safeName};
	}
	
	public final ${type} set${name:firstUc}(${type} ${safeName})
	{
		${type} old = this.${safeName};
		this.${safeName} = ${safeName};
		return old;
	}
